<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cliente Detalhe</ion-title>
      </ion-toolbar>
</ion-header>
  
<ion-content padding>

  <img src="{{cliente.img}}" />

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input value="{{cliente.nome}}"></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input value="{{cliente.email}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input value="{{cliente.endereco}}"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input value="{{cliente.telefone_fixo}}"></ion-input>
      </ion-item>

      <ion-button expand="full" color="danger" (click)="onExcluir()">Excluir</ion-button>

</ion-content>
