<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Cliente de Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit();">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>idade</ion-label>
        <ion-input formControlName="idade" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>cpf</ion-label>
        <ion-input formControlName="cpf" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>rg</ion-label>
        <ion-input formControlName="rg" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>senha</ion-label>
          <ion-input formControlName="senha" type="password"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label>cep</ion-label>
        <ion-input formControlName="cep" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>endereco</ion-label>
        <ion-input formControlName="endereco" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>numero</ion-label>
        <ion-input formControlName="numero" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>bairro</ion-label>
        <ion-input formControlName="bairro" type="text"></ion-input>
      </ion-item>   
    
        <ion-item>
            <ion-label>cidade</ion-label>
            <ion-input formControlName="cidade" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>estado</ion-label>
            <ion-input formControlName="estado" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>telefone Fixo</ion-label>
            <ion-input formControlName="telefone_fixo" type="text"></ion-input>
          </ion-item>   
          <ion-item>
            <ion-label>celular</ion-label>
            <ion-input formControlName="celular" type="text"></ion-input>
          </ion-item>  
          <ion-item>
            <ion-label>altura</ion-label>
            <ion-input formControlName="altura" type="number"></ion-input>
          </ion-item>   
          <ion-item>
              <ion-label>peso</ion-label>
              <ion-input formControlName="peso" type="number"></ion-input>
            </ion-item>  
            <ion-button type="submit" [disabled]="formGroup.invalid">Cadastrar</ion-button>
    </form>
</ion-content>
